body {
  background-color: rgba(242, 246, 208, 0.1);
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
